@{
	ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
	<h1>@ViewBag.Title</h1>
</hgroup>
<div>
	<p>
		Please check your email to reset the password.<br /><br />

		Please check your spam folder if you haven't received the mail.<br /><br />

		@Html.ActionLink("Contact us", "Contact", "Home") for more help.<br /><br />

		@Html.ActionLink("Log in again", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-default" })
	</p>
</div>
	
