
@{
    ViewBag.Title = "Request success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank you!</h2>
<h4>Your request has been submitted successfully.</h4>
<h5 style="font-weight:normal">We will give you a call on the number @ViewBag.CustomizePhoneNumber for confirmation when we review your request.</h5>
<br />
<a href="@Url.Action("Index","Home")" class="btn btn-default">Home</a>